body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  padding-bottom: 80px;
}

nav {
  margin-bottom: 20px;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  background-color: white;
  border: 2px solid #ccc;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.card.matched {
  background-color: #d4edda;
  border-color: #28a745;
}
